body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 300vh;
  }

  html {
    scroll-behavior: smooth;
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }

  li {
    color: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
  }