.footer-bg {
    background-color: var(--cor-c12);
    padding: 40px 0 60px 0;
}

.footer {
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr   1fr;
    gap: 40px;
}

.contacts img {
    margin-bottom: 40px;
}

.photos img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.contacts li + li {
    margin-top: 24px;
}

.location, .email, .phone {
    display: flex;
    align-items: center;
    margin-left: 25px;
    position: relative;
    padding-left: 5px ;
}

.location::before, .email::before, .phone::before {
    content: '';
    display: inline;
    position: absolute;
}

.location::before {
    background-image: url('/icones/location-white.svg');
    width: 24px;
    height: 24px;
    top: 0;
    left: -30px;
}

.email::before {
    background-image: url('/icones/message-white.svg');
    left: -30px;
    width: 24px;
    height: 17px;
}

.phone::before {
    background-image: url('/icones/phone-white.svg');
    width: 18px;
    height: 20px;
    left: -28px;
    top: 0;
}

.innerLinks h2 {
    margin-bottom: 40px;
}

.innerLinks ul li  {
    margin-bottom: 16px;
}

.innerLinks ul a:hover {
    color: var(--cor-w);
}

.flick-photos h2 {
    margin-bottom: 40px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.photos img {
    width: 100%;
    object-fit: cover;
}

.socials h2 {
    margin-bottom: 40px;
}

.icons {
    display: flex;
    gap: 32px;
}

.icons img {
    width: 32px;
}

.footer-copy {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    color: var(--cor-c5);
}

@media(max-width:990px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:530px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 80px 20px 60px 20px;
    }

    .footer-copy {
        justify-content: flex-start;
    }

    .contacts img, .innerLinks h2, .flick-photos h2, .socials h2 {
        margin-bottom: 32px;
    }
}